*$py.class
*.log
*.py[cod]
*.spec
.DS_Store
.cache
.coverage
.coverage.*
.env
.hypothesis/
.idea/
.ipynb_checkpoints
.mypy_cache/
.nox/
.pyre/
.pytest_cache/
.pytype/
.ruff_cache/
.tox/
.venv
.vscode/
ENV/
Thumbs.db
__pycache__/
db.sqlite3
db.sqlite3-journal
docs/_build/
env.bak/
htmlcov/
local_settings.py
media/
pip-delete-this-directory.txt
pip-log.txt
staticfiles/
venv.bak/
venv/
